PORT=5000
MONGO_URI=mongodb://localhost:27017/tornado_dev
JWT_SECRET=replace_this_with_a_long_secret
FRONTEND_ORIGIN=http://localhost:5173
FRONTEND_ORIGIN_PRO=https://your-production-frontend.com

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_FOLDER=tornado
